{
  "presets": [
    "es2015",
    "stage-1"
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": true,
      "regenerator": true
    }],
    'transform-es3-member-expression-literals'
  ]
}